html, body
{
  height: 100%;
  overflow: auto;
  word-break: normal;
}

body{
  font-family: "IranSans" !important;
  overflow-x: hidden;
  background: rgba($gray-c, 0.3);
}

.ltr {
  direction: ltr;
  text-align: left;
}

.modal-dialog {
  max-width: 100% !important;
  width: 100% !important;
  margin: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  height: 100vh !important;
  display: flex !important;
  position: fixed !important;
  z-index: 100000 !important;
}

.cursor-pointer {
  cursor: pointer;
  & * {
    cursor: pointer;
  }
}

.tooltip {
  font-family: "IranSans" !important;
}

.cursor-move {
  cursor: move;
}

.modal-box {
  z-index: 10001 !important;
}
.w-5 {
  width: 5% !important;
}


.mazie-tabs {
  .card-header {
    background: none;
  }
}

.disabled {
  * {
    fill :$gray-7 !important;
  }
  cursor: default !important;
  color: $gray-7 !important;
}

.pointer {
  cursor: pointer !important;
}

.no-outline {
  outline: 0 !important;
  &:hover {
    outline: 0 !important;
  }
}

.form-control:focus {
  box-shadow: none;
}
.modal-header {
  .close {
    &:focus {
      outline: none;
    }
  }
}

.vue-form-wizard .wizard-progress-bar {
  float: right !important;
}

.vue-form-wizard .wizard-progress-bar {
  float: right !important;
}

.vue-form-wizard .wizard-card-footer .wizard-footer-left {
  float: right !important;
}

.vue-form-wizard .wizard-card-footer .wizard-footer-right {
  float: left !important;
}

.wizard-nav-pills {
  padding: 0 !important;
  margin: 0 !important;
  .stepTitle {
    display: none !important;
  }
}

.vue-notification {
  font-size: 14px !important;
  border-right-width: 5px !important;
  border-right: 4px solid red !important;
  border-left: 0 !important;
  text-align: right !important;
  direction: rtl;

  &.warn {
    background: #ffb648;
    border-right-color: #f48a06 !important;
    border-right-width: 5px !important;
  }

  &.error {
    background: #E54D42;
    border-right-color: #B82E24 !important;
    border-right-width: 5px !important;
  }

  &.success {
    background: #68CD86;
    border-right-color: #42A85F !important;
    border-right-width: 5px !important;
  }
}

