html, body
{
    height: 100%;
    overflow: auto;
}
body {
  font-family: 'Roboto', tahoma, Arial, sans-serif;
  font-size: 12px;
  overflow-x: hidden;
  background: rgba(#ccc, 0.3);
}

.disabled {
  * {
    fill :$gray-7 !important;
  }
  cursor: default !important;
  color: $gray-7 !important;
}

.pointer {
  cursor: pointer !important;
}

.no-outline {
  outline: 0 !important;
  &:hover {
    outline: 0 !important;
  }
}

.form-control:focus {
  box-shadow: none;
}
.modal-header {
  .close {
    &:focus {
      outline: none;
    }
  }
}
