html, body
{
    height: 100%;
    overflow: auto;
}

body{
  padding-top: 55px;
  font-family: "IranSans" !important;
  font-size: 12px;
  overflow-x: hidden;
  background: rgba(#ccc, 0.3);
}

.tooltip {
  font-family: "IranSans" !important;
}

.cursor-move {
  cursor: move;
}

.modal-box {
  z-index: 10001 !important;
}
.w-5 {
  width: 5% !important;
}


.mazie-tabs {
  .card-header {
    background: none;
  }
}

.disabled {
  * {
    fill :$gray-7 !important;
  }
  cursor: default !important;
  color: $gray-7 !important;
}

.pointer {
  cursor: pointer !important;
}

.no-outline {
  outline: 0 !important;
  &:hover {
    outline: 0 !important;
  }
}

.form-control:focus {
  box-shadow: none;
}
.modal-header {
  .close {
    &:focus {
      outline: none;
    }
  }
}
