$primary-color: #136cb0;
$primary-color-opacity: rgba($primary-color, 0.05);
$gray-0: #000;
$gray-1: #111;
$gray-2: #222;
$gray-3: #333;
$gray-4: #444;
$gray-5: #555;
$gray-6: #666;
$gray-7: #777;
$gray-8: #888;
$gray-9: #999;
$gray-a: #aaa;
$gray-b: #bbb;
$gray-c: #ccc;
$gray-d: #ddd;
$gray-e: #eee;
$header-bg: #ffffff;
$body-bg: $gray-a;
$white: #fff;
$black: #000;
