
.editor-page {
  background: rgba(#ccc, 0.3);
  .editor-page--plot-area {
    display: block;
    width: 90%;
    margin: 0 auto;
    min-height: 800px;
    transition: all 150ms;
    * {
      transition: all 250ms;
    }
  }

  &.editor-page-preview-mode {
    // write preview mode styles here
    .editor-page--plot-area {
      display: block;
      width: 100%;
      margin: 0 auto;
      min-height: 800px;
      transition: all 200ms;
    }
  }

  // Mobile View
  &.editor-page-mobile-preview-mode {
    // write preview mode styles here
    .editor-page--plot-area {
      -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .4);
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, .4);
      float: none;
      width: 360px;
      margin: 0 auto;
    }
  }

  // Tablet View
  &.editor-page-tablet-preview-mode {
    // write preview mode styles here
    .editor-page--plot-area {
      -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .4);
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, .4);
      float: none;
      width: 600px !important;
      max-width: 600px !important;
      margin: 0 auto;
    }
  }
}


