.editor-page--plot-area {
  //border: 2px dashed gray;
  width: 90%;
  margin: 0 5%;
}

.editor-page {
  background: rgba(170, 170, 170, 0.2);
  .editor-page--plot-area {
    display: block;
    float: left;
    min-height: 1200px;
    //border: 2px dashed rgba(0, 0, 0, .2);
  }
}
