
.editor-page {
  background: rgba(170, 170, 170, 0.2);
  .editor-page--plot-area {
    display: block;
    float: left;
    width: 88%;
    margin: 0 6%;
    min-height: 800px;
  }

  &.editor-page-preview-mode {
    // write preview mode styles here
    .editor-page--plot-area {
      width: 100%;
      margin: 0 0%;
    }
  }
}


