$icon-size: 1.6em;

.editable-part{
  position: relative;
  cursor: pointer;

  * {
   &,
   &:hover,
   &:focus,
   &:active {
     outline: none !important;
   }
  }
  
  &.under-edit {
     outline: 3px dashed rgba($primary-color, .6) !important;
  }

  &:hover{
     outline: 3px dashed rgba($primary-color, .4) !important;
    .editable-part--upload-btn,
    .editable-part--settings-btn,
    .editable-part--link-btn{
      background: $primary-color;
      display: block;
    }
  }

  &:focus-within,
  &:focus,
  &:active{
     outline: 3px dashed rgba($primary-color, .5) !important;
  }
  &.settings-btn {
    z-index: 50 !important;
    outline: none !important;
    &:hover {
      background: transparent !important;
    }
  }

  .editor-page-preview-mode & {
    border: 0;
    outline: 0;
    .editable-part--upload-btn,
    .editable-part--settings-btn,
    .editable-part--link-btn{
      display: none;
    }
  }

  .editable-part--upload-btn,
  .editable-part--settings-btn,
  .editable-part--link-btn{
    background-color:rgba(0, 0, 0, .2);
    color: #fff;
    cursor: pointer;
    position: absolute;
    padding: .25em;
    z-index: 2;
    width: $icon-size;
    height: $icon-size;
    border-radius: 100%;
    top: .1em;
    left: .1em;
    //display: none;
    svg{
      height: .8em;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .editable-part--link-btn {
    left: 2em;
  }


  .editable-part--upload-btn{
    top: 1.9em;
  }
}
