
.editable-background {
  position: relative;

  .editable-background--toolbox {
    opacity: 0;
  }
  &.edit-mode {
    .editable-background--toolbox {
      opacity: 1;
    }
  }

  .editable-background--settings-btn {
    position: absolute;
    z-index: 2;
  }
}
