.editable-text {
  position: relative;
  padding: 0;
  display: inline-block;

  &.editable-active {
    //padding-left: 2em;
    min-height: 2em !important;
    line-height: 2em;
    .widget-text-editable--toolbox {
      display: block;
    }
  }
  .editor-page-preview-mode & {
    padding-left: 0;
  }

  .editable-text--settings-btn {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 2em;
    height: 2em;
    padding: 0;
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
