.editable-image {
  position: relative;
  border: 0;
  width: 100%;
  //padding-top: 75%; /* 4:3 Aspect Ratio */
  //border: 1px dashed red;

  .editable-image--settings-btn {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 2em;
    height: 2em;
    padding: 0;
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  img {
    min-height: 2em;
    min-width: 2em;
    max-width: 100%;
    max-height: 100%;
  }

  .editable-image--toolbox {
    position: absolute;
    top: -20px;
    display: none;
    z-index: 10;
    width: 100%;
    border-radius: 10px;
    background: #333;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 15px;
    padding: 5px 0;
    .dropdown {
      position: absolute;
      display: inline-flex;
    }
  }

  input {
    &.editable-image {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      border: 3px dashed blue;
      background: none;
      width: 100%;
      opacity: 0;
      cursor: pointer;
    }
  }

  &.edit-mode {
    outline: 3px dashed #f1f1f1;
    &:hover {
      .editable-image--toolbox {
        display: block;
      }
    }
  }
}
