/* ------------------EDITABLE PART SIDEBAR-------------- */
.wrapper {
  display: flex;
  align-items: stretch;

  /* --------------CONTENT STYLE------------------------- */
  #content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    width: 90%;
    margin: 0 auto;
  }
}
