.widget-text-editable--toolbox {
  //z-index: 10;
  //display: block;
  //position: absolute;
  //width:650px;
  //height: 90px;
  //border-radius: 10px;
  //background: rgba(51, 51, 51, 0.78);
  //top: -80px;
  //left: 50%;
  //transform: translateX(-50%);
  //margin-bottom: 15px;
  //padding: 5px;
  ////text-align: left;
  //padding: 1em;
  //position: absolute;
  //top: 0;
  //bottom: 0;
  //left: 0;
  //right: 0;
  //width: 100%;
  //height: 20em;

  // Preview Mode Styles
  .editor-page-preview-mode & {
    visibility: hidden;
  }

  .widget-text-editable--toolbox--close {
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
    border-radius: 100px;
    svg {
      margin-top: .2em;
    }
  }

  .widget-text-editable--toolbox--group {
    display: block;
    float: left;
    clear: both;
    //border-right: 2px solid rgba(250, 250, 250, 0.4);
    //border-left: 2px solid rgba(250, 250, 250, 0.4);
  }

  .dropdown,
  .input-group {
    float: left;
  }

  .dropdown {
    input[type='range'] {
      margin: .5em;
      cursor: pointer;
    }
  }

  .widget-text-editable--toolbox--button {
    float: left;
    cursor: pointer;
    height: 2em;
    margin-bottom: .2em;

    background: transparent !important;
    &.widget-text-editable--selected {
      border: 1px solid #f1f1f1;
    }
  }

  .dropdown-menu {
    .widget-text-editable--toolbox--button {
      color: #333;
    }
    .widget-text-editable--selected {
      border: 1px solid #333;
    }
  }

  input[type=color] {
    border: 0;
    width: 1.5em;
    height: 1.5em;
    padding: 0px;
    margin: 0px;
  }

  .dropdown {
    display: inline-flex;
  }
  button {
    img {
      border-radius: 0 !important;
    }
  }
  //.btn-color-input {
  //  position: relative;
  //  display: inline-block;
  //  input {
  //    opacity: 0;
  //    position: absolute;
  //    left: 0;
  //    top: 30%;
  //    width: 100%;
  //  }
  //}
  .slider-wrapper {
    display: inline-block;
    //width: 20px;
    height: 150px;
    padding: 0;
    input {
      position: absolute;
      opacity: 1;
      width: 150px;
      height: 20px;
      margin: 0;
      transform: rotate(0deg);
    }
  }
}
