.vue-popover-theme {
  background: none !important;
}
.widget-text-editable--toolbox {
  z-index: 100;
  width: 100%;
  bottom: 0;
  display: block !important;
  font-size: 1rem !important;
  background: rgba($black, .95);
  position: fixed !important;
  border-radius: 0;
  bottom: 0; 
  left: 0;
  right: 0;
  padding: 0;
  float: left;
  width: 100%;
  padding: .1em;
  // Preview Mode Styles
  .editor-page-preview-mode & {
    visibility: hidden;
  }
  .widget-text-editable--toolbox--group {
    display: block;
    position: relative;
  }
  .widget-text-editable--toolbox--group-separator {
    display: block;
    float: left;
    height: 2.9em;
    margin: .3em .3em;
    width: 1px;
    background: rgba($primary-color, 0.6);
  }

  .b-dropdown-text{
     padding-top: 0;
     padding-right: 0;
     padding-left: 0;
     margin-right: 0;
     margin-left: 0;
  }

  .dropdown {
    margin: 0;
    float: left;
    .dropdown-toggle::after {
      display: none;
    }
    input[type='range'] {
      margin: .5em;
      cursor: pointer;
    }

    &.show .dropdown-toggle {
      background: rgba($primary-color, 0.5);
    }

    .dropdown-menu {
      z-index: 100000;
      background: rgba($black, 0.9);
      min-width: 4em;
      .dropdown-item {
        padding: .25em .75em
      }
      label {
        color: rgba($white, .6);
        width: 90%;
        padding: 0;
        margin: 0 5%;
      }
      .vc-compact {
         background: transparent;
      }

      input[type='number'],
      input[type='text'] {
        color: rgba($white, .05);
        background: rgba($white, .05);
        border: 0;
        color: $white;
        width: 90%;
        min-width: 120px;
        padding: 0;
        padding-left: .3em;
        margin: 0 5% 0 5%;
      }

      input[type='range'] {
        width: 90%;
        padding: 0;
        margin: 5% 5% 0 5%;
      }
      .widget-text-editable--toolbox--button {
        color: #999;
      }
      .widget-text-editable--selected {
        color: #fff;
        background: rgba($primary-color, 0.3);
      }
      a.dropdown-item {
        color: rgba($white, .9) !important;
      }
      .dropdown-item {
        &:hover {
          background: rgba($primary-color, 0.3);
        }
        &:active {
          background: rgba($primary-color, 0.5);
        }
      }
     &.dropdown-menu--margin {
       padding-top:  .25em;
       max-width: 10em;
       input {
         width: 4em;
        padding-left: .3em;
         margin: auto;
       }
       .dropdown-input--even {
         margin-left: 2.5%
       }
     }
    }
  }

  .widget-text-editable--toolbox--button,
  .dropdown-toggle {
    color: $white;
    border: 1px solid rgba($primary-color, .2);
    width: 3em;
    height: 3em;
    margin: 3px;
    float: left;
    padding: 9px;
    cursor: pointer;
    background: transparent;
    position: relative;
    font-size: inherit;
    .color-indicator {
      position: absolute;
      width: .5em;
      height: .5em;
      bottom: 2px;
      right: 2px;
    }

    img {
       width: 24px;
       height: 22px;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
    }
    &.widget-text-editable--selected {
      background: rgba($primary-color, 0.3);
    }
    &.color-box-btn {
      position: relative;
      overflow: hidden;
      input {
        position: absolute;
        top: 50%;
        left: 50%;
        bottom: 0;
        right: 0;
        transform: translate(-50%, -50%);
        opacity: 0;
        width: 100%;
      }
    }
  }


  input[type=color] {
    border: 0;
    width: 1.5em;
    height: 1.5em;
    padding: 0px;
    margin: 0px;
  }

  button {
    img {
      border-radius: 0 !important;
    }
  }

  .slider-wrapper {
    display: inline-block;
    //width: 20px;
    height: 150px;
    padding: 0;
    input {
      position: absolute;
      opacity: 1;
      width: 150px;
      height: 20px;
      margin: 0;
      transform: rotate(0deg);
    }
  }
  .widget-text-editable--toolbox--close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #000;
    z-index: 10;
    width: 32px;
    height: 32px;
    &:hover {
      background-color: $primary-color;
    }
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .vc-sketch {
    background: #171717;
    padding: 2px 10px 10px;
    box-shadow: none;
    .vc-sketch-field {
      .vc-input__label {
        color: $white;
      }
      .vc-input__input {
        padding: 4px 0 3px 2px;
      }
    }
    .vc-sketch-active-color {
      border-radius: 0;
    }
    .vc-alpha-checkboard-wrap {
      border-radius: 2px;
      margin-right: 2px;
    }
  }
}
