.widget-text-editable--sidebar {
  position: absolute;
  border: 2px solid green;
  position: absolute;
  display: inline-block;
  width: 240px;
  right: -240px;
  top: 0;
  border: 2px solid green;
  overflow: hidden;
}
