/* ------------------EDITABLE PART SIDEBAR-------------- */
.wrapper {
  display: flex;
  align-items: stretch;
  perspective: 1500px;

  /* ----------------SIDEBAR STYLE----------------------- */
  .editable-part-sidebar {
    padding: .5em;
    min-width: 250px;
    max-width: 250px;
    background: #e7dbdb;
    color: #fff;
    transition: all 200ms cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
    .widget-text-editable--sidebar {
      overflow: hidden;
      .widget-text-editable--toolbox--button {
        overflow: hidden;
        position: relative;
        padding: .5em;
        -ms-text-align-last: right;
        text-align: left;
        background: #e7dbdb;
        color: #bbb;
        border: 1px solid transparent;
        img {
          .maize-icon path {
            fill: #72bb1a;
          }
        }
        &:hover {
          border: 1px solid #bbb;
        }
        &.dropdown-icon-button {
          background-color: transparent;
          line-height: 1em;
        }
        &.widget-text-editable--selected {
          border: 1px solid #bbb;
        }
        &.input-file-btn {
          input {
            position: absolute;
            opacity: 0;
            top: 0;
          }
        }
      }
    }
    .sidebar-header {
      padding: 20px;
      background: #6d7fcc;
    }
    .dropdown-toggle::after {
      display: none;
    }
    .dropdown-menu {
      padding: 5px;
      .vc-compact {
        max-width: 240px;
        width: auto;
        min-width: 200px;
      }
      .dropdown-item {
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: .2rem;
        &:hover {
          border: 1px solid #b1b1b1;
          //border-radius: .2rem;
        }
        &.widget-text-editable--selected {
          border: 1px solid #bbb;
        }
      }
    }
  }
  /* --------------CONTENT STYLE------------------------- */
  #content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    width: 90%;
    margin: 0 auto;
  }
}
