.widget-text-editable--toolbox {
  //outline: 2px solid red;
  padding: 0;
  float: left;
  width: 100%;
  // Preview Mode Styles
  .editor-page-preview-mode & {
    visibility: hidden;
  }

  .widget-text-editable--toolbox--close {
    position: absolute;
    top: 0;
    right: -55px;
    cursor: pointer;
    border-radius: 100px;
    background-color: #000;
    z-index: 10;
    width: 37px;
    height: 37px;
    svg {
      margin-top: .43em;
    }
  }

  .widget-text-editable--toolbox--group {
    display: block;
    float: left;
    clear: both;
  }

  .dropdown,
  .input-group {
    float: left;
  }

  .dropdown {
    input[type='range'] {
      margin: .5em;
      cursor: pointer;
    }
  }

  .widget-text-editable--toolbox--button {
    float: left;
    height: 100%;
    padding: 9px 5px;
    cursor: pointer;
    //height: 2em;
    background: transparent !important;
    line-height: 100%;
    //float: left;
    //cursor: pointer;
    //height: 2em;
    //margin-bottom: .2em;
    //background: transparent !important;
    &.widget-text-editable--selected {
      border: 1px solid #f1f1f1;
    }
  }

  .dropdown-menu {
    .widget-text-editable--toolbox--button {
      color: #333;
    }
    .widget-text-editable--selected {
      border: 1px solid #333;
    }
  }

  input[type=color] {
    border: 0;
    width: 1.5em;
    height: 1.5em;
    padding: 0px;
    margin: 0px;
  }

  .dropdown {
    float: none;
  }
  button {
    img {
      border-radius: 0 !important;
    }
  }
  //.btn-color-input {
  //  position: relative;
  //  display: inline-block;
  //  input {
  //    opacity: 0;
  //    position: absolute;
  //    left: 0;
  //    top: 30%;
  //    width: 100%;
  //  }
  //}
  .slider-wrapper {
    display: inline-block;
    //width: 20px;
    height: 150px;
    padding: 0;
    input {
      position: absolute;
      opacity: 1;
      width: 150px;
      height: 20px;
      margin: 0;
      transform: rotate(0deg);
    }
  }
}
