.add-widget-modal {
  .modal-body {
    padding: 0;
    .modal-content {
      padding: 0;
      border: 1px solid red;
    }
  }

  .widget-thumb-container {
    width: 1440px;
    height: 786px;
    border: 0;
    transform: scale(0.14);
    transform-origin: 0 0;
  }

  footer {
    padding: 15px !important;
  }
  .add-widget-modal--widget-item {
    overflow: hidden;
    width: 220px;
    height: 15em;
    border: 1px solid #999;
    float: left;
    margin: 1em;
    line-height: 3em;
    text-align: center;
    cursor: pointer;
    position: relative;

    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }

    &.add-widget-modal--widget-item--selected {
      position: relative;
      background: rgba(0, 0, 0, 0.3);
      span {
        position: absolute;
        display: block;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        line-height: 20px;
        background: rgba(0, 0, 0, .6);
        color: #fff;
      }
    }
  }
}
