.image-picker--image-container {
  display: block;
  position: relative;

  .image-picker--image-thumb-box {
    display: block;
    &.selected {
      outline: 2px solid rgba($primary-color, 0.6);
    }

    &:hover,
    &:focus,
    &:active {
      outline: 2px solid rgba($primary-color, 0.6);
    }

    img {
      height: 100%;
      max-width: 100%;
      max-height: 100%;
    }
  }
  svg {
    &.upload-image-icon {
      height: 1em;
    }
  }
}

