.page-toolbox
  background-color: $header-bg !important
  .nav-link
    font-size: 12px !important
    font-weight: bold
    color: $gray-a !important
  .auto-save-status
    font-weight: normal
    color: $gray-4
