.widget-block {
  display: block;
  position: relative;
  //border: 2px dashed rgba(0, 0, 0, .1);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,.3);
  margin-bttom: 3em;
  border-radius: 6px;
  width: 100%;
  padding-top: 3em;
  margin-top: 2em;

  // Preview Mode Styles
  .editor-page-preview-mode & {
    border: 0;
    border-radius: 0;
    margin-bttom: 0;
    margin-top: 0;
    padding-top: 0;

    -webkit-box-shadow: none;
    box-shadow: none;

    .widget-block--toolbox {
      display: none;
    }

  }

  .fdb-block {
    overflow: visible;
    background: transparent;
  }

  .widget-text-editable {
    position: relative;
    margin-top: 1em;

    &.editable-active {
      .widget-text-editable--toolbox {
        display: block;
      }
    }
  }

  .widget-block--image-editable {
    position: relative;
    overflow: hidden;
    border: 0;
    width: 100%;
    padding-top: 75%; /* 4:3 Aspect Ratio */
    background-color: #ccc;
    img {
      border-radius: 0 !important;
      max-width: 100%;
      max-height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
    }

    .widget-block--image-editable--toolbox {
      position: absolute;
      top: -20px;
      display: none;
      z-index: 10;
      width: 100%;
      //height: 50px;
      border-radius: 10px;
      background: #333;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 15px;
      padding: 5px 0;
      .dropdown {
        position: absolute;
        display: inline-flex;
      }
    }

    input {
      &.image--editable {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        border: 3px dashed blue;
        background: none;
        width: 100%;
        opacity: 0;
        cursor: pointer;
      }
    }

    &.edit-mode {
      outline: 3px dashed #f1f1f1;
      &:hover {
        .widget-block--image-editable--toolbox {
          display: block;
        }
      }
    }
  }

  [contenteditable='true'] {
    outline: 2px dashed #f1f1f1;
    position: relative;
  }

  .widget-block--toolbox {
    display: block;
    position: absolute;
    width: 100%;
    height: 2em;
    top: .2em;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;

    .widget-block--toolbox-btn {
      float: right;
      &.btn-active {
        background: #ccc;
      }
    }
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}
