.widget-block {
  margin: 1em;
  display: block;
  position: relative;
  border: 1px solid #999;

  .fdb-block {
    overflow: visible;
    background: transparent;

  }

  .widget-text-editable {
    position: relative;

    &.editable-active {
      .widget-text-editable--toolbox {
        display: block;
      }
    }
  }

  .widget-block--image-editable {
    position: relative;
    border: 0;

    .widget-block--image-editable--toolbox {
      position: absolute;
      top: -20px;
      display: none;
      z-index: 10;
      width: 100%;
      //height: 50px;
      border-radius: 10px;
      background: #333;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 15px;
      padding: 5px 0;
      .dropdown {
        position: absolute;
        display: inline-flex;
      }
    }

    input {
      &.image--editable {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        border: 3px dashed blue;
        background: none;
        width: 100%;
        opacity: 0;
        cursor: pointer;
      }
    }

    &.edit-mode {
      outline: 3px dashed #f1f1f1;
      &:hover {
        .widget-block--image-editable--toolbox {
          display: block;
        }
      }
    }

  }

  [contenteditable='true'] {
    outline: 2px dashed #f1f1f1;
    position: relative;
  }

  .widget-block--toolbox {
    display: block;
    position: absolute;
    width: 5.4em;
    height: 15em;
    top: 0;
    right: -6.4em;
    //border:3px dashed green;
    z-index: 10;

    .widget-block--toolbox-btn {
      //width: 4.6em;
      //cursor: pointer;
      //height: 4.6em;
      //line-height: 4.6em;
      //border: 0;
      //background: #f1f1f1;
      //margin: .2em;
    }
  }
}
